<br />

<div class="booyah-box col-10 offset-1 about">
   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h1 class="text-center">Joshua Head</h1>
      <br />
      <p>
        Flixter is a one man operation consisting of Joshua Head. Josh is a web developer and father of two. He previously worked in the telecommunications industry and logistics software as a backend systems operator. In his (little) spare time, he enjoys drawing, trivia, and harrassing his wife and children.
      </p>
        
    </div>
  </div>
  <br class="clear" />
</div>